@import "./reset";

body,
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
  min-height: 100vh;
  background-color: white;

  @media (max-width: 1500px) {
    font-size: 13px;
  }
  @media (max-width: 1300px) {
    font-size: 10px;
  }
  @media (max-width: 767px) {
    font-size: 9px;
    text-align: center;
  }
  @media (max-width: 576px) {
    font-size: 12px;
  }
}

.s-container {
  width: 100%;
  overflow: hidden;
  margin-top: 5rem;
  margin-bottom: 5rem;
  //swiper bagenation

  //swiper buttons
  .swiper-button-prev,
  .swiper-button-next {
    color: #b3b3b3;
    font-weight: 800;

    &:after {
      font-size: 1rem;
    }
  }

  .swiper-button-prev {
    left: -3rem;

    @media (max-width: 576px) {
      left: -1rem;
    }
  }

  .swiper-button-next {
    right: -3rem;
    @media (max-width: 576px) {
      right: -1rem;
    }
  }

  .swiper-slide {
    .product-img {
      text-align: center;
      margin-bottom: 1rem;
      img {
        width: 70%;
        height: 220px;
      }

      .ico {
        width: fit-content;
        position: absolute;
        top: 0.5rem;
        padding: 0.3rem 1rem;
        border-radius: 0;
        color: white;
        font-size: 1rem;

        @media (max-width: 576px) {
          padding: 0.3rem 2rem;
          font-size: 1.2rem;
        }
      }
      .ico-sale {
        background-color: $color2;
        left: 0.5rem;
      }
      .ico-new {
        background-color: $color1;
        right: 0.5rem;
      }
    }

    .product-disc {
      h5 {
        font-size: 20px;
        text-align: left;
        margin-top: 4rem;

        @media (max-width: 576px) {
          text-align: center;
        }

        a {
          color: black;
        }
      }
      .price {
        margin-top: 1rem;
        color: $color2;
        font-weight: 700;
        font-size: 18px;
        justify-content: flex-start;
        text-transform: uppercase;

        @media (max-width: 576px) {
          justify-content: center;
        }

        .price-sale {
          color: gray;
          margin-left: 1rem;
          font-size: 14px;
          font-weight: 500;
          text-transform: unset;
          text-decoration: line-through;
        }
      }
    }
  }
}

.dropdown {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding-bottom: 5px;

  a {
    color: black;

    &:hover {
      color: $color2;
    }
  }

  .dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    width: max-content;
    top: 102%;
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 25px;
    z-index: -1;
    opacity: 0;
    transition: all 0.5s;

    &:before {
      content: "";
      width: 0;
      height: 0;
      display: block;
      border-width: 6px;
      border-color: transparent transparent #ffffff;
      border-style: solid;
      top: -12px;
      position: absolute;
      right: 50%;
      transform: translateX(50%);
    }
  }
}

.dropdown:hover {
  .dropdown-content {
    z-index: 15;
    opacity: 1;
  }
}

header {
  background-color: #0046c3;
  .header-logo {
    padding-top: 1rem;

    .logo {
      justify-content: flex-start;

      img {
        max-width: 100%;
      }

      @media (max-width: 992px) {
        margin-bottom: 1rem;
      }
    }
    .search {
      flex: 0 0 44%;
      margin-top: 1rem;
      @media (max-width: 992px) {
        display: none;
      }
      @media (max-width: 500px) {
        max-width: 100%;
      }
      form {
        width: 100%;
        height: 100%;

        @media (max-width: 500px) {
          padding: 0;
        }

        .form-group {
          width: 100%;
          height: 100%;
          position: relative;
        }

        input {
          width: 70%;
          height: 2.5rem;
          border: none;
          border-radius: 0;
          text-align: left;
          padding: 0.5rem;

          @media (max-width: 768px) {
            width: 50%;
          }
        }

        a {
          color: $color1;
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translate(0, -50%);
          font-size: 1rem;
          font-weight: 600;
          transition: all 0.5s;

          &:hover {
            color: black;
          }
        }
        select {
          width: 30%;
          height: 2.5rem;
          background-color: $color2;
          border-color: $color2;
          text-align: left;
          outline: none;
          position: relative;
          background-image: url(../img/icons/arrow.png);
          background-repeat: no-repeat;
          -webkit-appearance: none;
          background-position: 7rem center;
          color: white;
          font-weight: 700;
          text-transform: uppercase;
          font-size: 0.8rem;
          padding-left: 1rem;

          @media (max-width: 1200px) {
            padding-left: 0rem;
            background-position: 7rem center;
          }
          @media (max-width: 768px) {
            width: 50%;
            padding-left: 1rem;
          }

          &::after,
          &::before {
            display: none;
          }

          .default {
            color: black !important;
          }

          &:focus {
            background-color: $color2;
            border-color: #e0e0e0;
            outline: none;
            border: none;
          }

          option {
            background-color: $color1;
            border-color: $color1;
            text-align: right;
          }
        }
      }
    }

    .cart-small {
      font-size: 18px;
      color: white;
      display: none;
      justify-content: flex-end;

      @media (max-width: 992px) {
        display: flex;
      }

      div {
        margin-left: 2rem;
        cursor: pointer;
      }
    }

    .sign {
      margin-top: 1rem;
      justify-content: flex-end;

      @media (max-width: 992px) {
        display: none;
      }

      .prefix {
        display: flex;

        .dropdown {
          border: none;
          color: white;
          position: relative;
          margin-right: 15px;

          &:focus {
            outline: none;
          }
        }
      }

      .icons {
        .icon {
          margin: 0 1rem;

          a {
            font-size: 1.5rem;
            transition: all 0.5s;
          }
        }
      }
    }
  }
  .header-nav {
    margin-top: 2rem;
    background-color: #003faf;

    @media (max-width: 992px) {
      display: none;
    }
    .call {
      font-weight: 400;
      font-size: 1.1rem;
      justify-content: flex-end;

      p {
        color: white;
        text-transform: uppercase;
        margin: 0;

        @media (max-width: 768px) {
          padding-bottom: 1rem;
        }
      }
      span {
        color: $color2;
      }
    }

    .navbar {
      justify-content: flex-start;
      padding: 0;

      @media (max-width: 992px) {
        margin: auto;
        justify-content: center;
        align-items: center;
      }

      .navbar-collapse {
        @media (max-width: 992px) {
          display: block;
          text-align: center;
          height: 0;
          opacity: 0;
          transition: all 0.5s;
        }
      }

      .active {
        margin-top: 2rem;
        height: 120px;
        opacity: 1;
      }

      .navbar-nav {
        .nav-item {
          margin: 0rem 1rem;
        }
        a {
          color: white;
          transition: all 0.5s;

          &:hover {
            color: $color2;
          }

          @media (max-width: 1200px) {
            font-size: 0.8rem;
          }
        }
      }
    }

    .categories {
      padding: 0.5rem 0;
      background-color: #00399d;
      position: relative;
      display: flex;
      align-items: baseline;

      @media (max-width: 768px) {
        justify-content: center;
        margin-bottom: 1rem;
      }
      div {
        border: none;
        color: white;
        font-size: 1.1rem;
        font-weight: 400;
        text-transform: uppercase;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }

      .dropdown {
        width: 100%;
        text-align: center;
      }
    }
  }
  .row {
    width: 88%;
    margin: auto;
  }

  .col-md-3 {
    @media (min-width: 768px) {
      flex: 0 0 28%;
      max-width: 28%;
    }
  }
}

main {
  #slider-banner {
    * {
      font-family: "Montserrat", sans-serif;
    }

    .swiper-container {
      width: 100%;
      height: 700px;

      @media (max-width: 576px) {
        max-height: 300px;
      }

      //swiper bagenation
      .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        border-radius: 0;
        background: white;
        opacity: 1;
        margin: 0 10px;
        margin-bottom: 50px;

        @media (max-width: 576px) {
          margin-bottom: 0px;
          width: 7px;
          height: 7px;
        }
      }
      .swiper-pagination-bullet-active {
        background-color: $color2;
      }

      //swiper buttons
      .swiper-button-prev,
      .swiper-button-next {
        color: #e3f3fd;
        background-color: #0000008a;
        padding: 1.5rem;
        transition: all 0.3s ease-in;
        top: 50% !important;

        &:hover {
          background-color: white;
          color: $color1;
        }

        &:focus {
          outline: none;
          border: none;
        }

        &:after {
          font-size: 1rem;
        }
      }

      .swiper-button-prev {
        left: 25px;

        @media (max-width: 576px) {
          left: 0px;
        }
      }

      .swiper-button-next {
        right: 25px;

        @media (max-width: 576px) {
          right: 0px;
        }
      }

      .swiper-slide {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.25),
            rgba(0, 0, 0, 0.25)
          ),
          url("../img/header/Layer\ 1@1X.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0;
        justify-content: center;
        align-items: center;

        .banner-text {
          color: white;
          text-transform: uppercase;

          h4 {
            font-size: 30px;
            font-weight: 300;
            margin-bottom: 15px;
            @media (max-width: 768px) {
              font-size: 25px;
            }
            @media (max-width: 576px) {
              font-size: 15px;
            }
          }

          h2 {
            font-size: 65px;
            font-weight: 700;
            width: 55%;
            margin: auto;

            @media (max-width: 1200px) {
              width: 88%;
            }
            @media (max-width: 768px) {
              width: 100%;
              font-size: 50px;
            }
            @media (max-width: 576px) {
              font-size: 25px;
            }
          }

          .btn {
            color: wheat;
            background-color: $color2;
            padding: 0.4rem 1.5rem;
            margin-top: 1rem;
            border-radius: 0;

            &:hover {
              background-color: #e65400;
            }
          }
        }
      }
    }
  }

  #banners {
    .categories-slider {
      position: relative;
      width: 90%;
      margin: auto;

      .swiper-slide {
        flex-direction: column;
        .slider-img {
          width: 100%;
          height: 101px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            filter: brightness(0);
            transition: all 0.5s;
          }
        }

        a {
          color: black;
          text-align: center;
        }

        .slider-head {
          p {
            font-weight: 800;
            margin-bottom: 0;
            margin-top: 15px;
            text-transform: capitalize;
            transition: all 0.5s;
          }
        }
        &:hover {
          p {
            color: $color2;
          }

          img {
            filter: brightness(1);
          }
        }
      }
    }

    .banners {
      * {
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
      }

      .row {
        justify-content: space-between;
        width: 88%;
        margin: auto;
      }
      .banner {
        height: 330px;
        color: white;

        @media (max-width: 768px) {
          width: 98% !important;
          margin: auto;
          margin-bottom: 2rem;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }

        @media (max-width: 576px) {
          height: 175px;
        }

        .btn {
          color: wheat;
          background-color: $color2;
          padding: 0.4rem 1.5rem;
          margin-top: 1rem;
          border-radius: 0;

          &:hover {
            background-color: #e65400;
          }
        }
      }

      .first {
        .banner {
          width: 49%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          padding: 0 4rem;
          padding-top: 9rem;

          @media (max-width: 576px) {
            padding-top: 2rem;
          }

          h3 {
            font-size: 2.1rem;
            font-weight: 600;
            width: 75%;

            @media (max-width: 768px) {
              margin: 0 auto;
              margin-bottom: 2rem;
            }

            @media (max-width: 576px) {
              width: 100%;
              font-size: 1.5rem;
              margin-bottom: 0;
            }
          }

          &:nth-child(1) {
            background-image: linear-gradient(
                rgba(0, 0, 0, 0.35),
                rgba(0, 0, 0, 0.35)
              ),
              url("../img/banners/Layer\ 97@1X.png");
          }
          &:nth-child(2) {
            background-image: linear-gradient(
                rgba(0, 0, 0, 0.35),
                rgba(0, 0, 0, 0.35)
              ),
              url("../img/banners/Layer\ 98@1X.png");
          }
        }
      }
      .second {
        margin-top: 2rem;
        .banner {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          text-align: center;
          padding-top: 11rem;

          @media (max-width: 576px) {
            padding-top: 2rem;
          }

          h3 {
            font-size: 1.5rem;
            font-weight: 600;
            width: 75%;
            margin: auto;
            text-align: center;
            @media (max-width: 768px) {
              font-size: 2.5rem;
              margin: 0 auto;
              margin-bottom: 2rem;
            }
            @media (max-width: 500px) {
              width: 100%;
              font-size: 1.5rem;
              margin-bottom: 0rem;
            }
          }

          &:nth-child(1) {
            background-image: linear-gradient(
                rgba(0, 0, 0, 0.35),
                rgba(0, 0, 0, 0.35)
              ),
              url("../img/banners/Layer\ 96@1X.png");
            width: 25%;
          }
          &:nth-child(2) {
            background-image: linear-gradient(
                rgba(0, 70, 195, 0.5),
                rgba(0, 70, 195, 0.5)
              ),
              url("../img/banners/Layer\ 99@1X.png");
            width: 48%;
            padding-top: 6rem;

            @media (max-width: 576px) {
              padding-top: 2rem;
            }

            h3 {
              font-size: 3rem;

              @media (max-width: 576px) {
                font-size: 2.3rem;
              }

              span {
                display: block;
                margin-bottom: 1rem;
                font-size: 1.875rem;
                font-weight: 300;
                @media (max-width: 576px) {
                  margin-bottom: 0;
                }
              }
            }
          }

          &:nth-child(3) {
            background-image: linear-gradient(
                rgba(0, 0, 0, 0.35),
                rgba(0, 0, 0, 0.35)
              ),
              url("../img/banners/Layer\ 95@1X.png");
            width: 25%;
          }
        }
      }
    }
  }

  #best-seller {
    margin-top: 7rem;

    .container {
      & > .row {
        width: 88%;
        margin: auto;
      }
    }

    .best-seller-head {
      h2 {
        font-weight: 800;
        font-size: 30px;
        text-transform: uppercase;
      }
    }

    .best-seller-slider {
      position: relative;
    }

    .best-seller-banner {
      * {
        font-family: "Montserrat", sans-serif;
      }

      background-image: linear-gradient(
          rgba(0, 70, 195, 0),
          rgba(0, 70, 195, 0.2)
        ),
        url("../img/bestseller/banner.png");
      background-position: center;
      background-repeat: no-repeat;
      height: 500px;
      color: white;
      align-items: center;
      padding-left: 15rem;

      @media (max-width: 1200px) {
        height: 400px;
      }
      @media (max-width: 768px) {
        height: 300px;
        padding-left: 5rem;
        background-size: 165%;
      }
      @media (max-width: 500px) {
        padding-left: 2rem;
        background-size: 200%;
        height: 170px;
      }
      @media (max-width: 300px) {
        background-size: auto;
        display: flex;
        justify-content: center;
        padding: 0;
      }

      .content {
        text-align: center;
        h2 {
          font-size: 3.4rem;
          font-weight: 800;
          text-transform: uppercase;

          @media (max-width: 768px) {
            font-size: 2.5rem;
          }
          @media (max-width: 576px) {
            font-size: 1.8rem;
          }

          span {
            font-weight: 300;
            display: block;
            position: relative;
            margin-bottom: 2.5rem;
            font-size: 2.5rem;

            @media (max-width: 768px) {
              font-size: 1.8rem;
            }
            @media (max-width: 500px) {
              font-size: 1.2rem;
              margin-bottom: 1.5rem;
            }

            &::after {
              content: "";
              height: 0.15rem;
              width: 2rem;
              background-color: white;
              border-radius: 20px;
              position: absolute;
              bottom: -1rem;
              left: 50%;
              transform: translate(-50%, 0);

              @media (max-width: 576px) {
                bottom: -0.5rem;
              }
            }
          }
        }

        .btn {
          color: wheat;
          background-color: $color2;
          padding: 0.5rem 1.7rem;
          margin-top: 1rem;
          border-radius: 0;

          &:hover {
            background-color: #e65400;
          }
        }
      }
    }
  }

  #categories {
    margin-top: 7rem;

    .container {
      & > .row {
        max-width: 88%;
        margin: auto;
      }
    }

    .categories-head {
      width: max-content;
      overflow-x: auto;
      div {
        font-size: 2.1875rem;
        font-weight: 600;
        color: black;
        margin: 1.5rem;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.5s;
        &:hover {
          color: $color2;
        }

        @media (max-width: 576px) {
          font-size: 1.8rem;
        }
      }

      .active {
        border-bottom: 1px solid $color2;
        color: $color2;
      }
    }

    .categories-body {
      position: relative;

      & > div {
        opacity: 0;
        height: 0 !important;
        margin: 0;
        transition: all 1s;
      }

      .active {
        display: flex;
        opacity: 1;
        height: auto !important;
        margin: 5rem 0;
      }
    }
  }

  #notes {
    margin-top: 5rem;
    padding: 5rem 0;
    background-color: #fafafa;

    @media (max-width: 576px) {
      margin-top: 3rem;
      padding: 3rem 0;
    }

    .row {
      width: 88%;
      margin: auto;
      justify-content: space-between;
    }

    .col-md-3 {
      @media (min-width: 768px) {
        -ms-flex: 0 0 25%;
        flex: 0 0 23%;
        max-width: 23%;
      }
    }

    .note {
      display: flex;

      @media (max-width: 768px) {
        margin: 5rem 2rem;
      }
      @media (max-width: 576px) {
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .note-img {
        margin-right: 1.5rem;

        img {
          max-width: 100%;

          @media (max-width: 768px) {
            width: 50%;
          }
          @media (max-width: 576px) {
            width: 100%;
            margin-bottom: 2rem;
          }
        }
        @media (max-width: 576px) {
          margin-right: 0;
        }
      }

      .note-body {
        h3 {
          font-weight: 600;
          margin-bottom: 1rem;
          text-transform: uppercase;
          font-size: 1.3rem;

          @media (max-width: 576px) {
            font-size: 1.7rem;
          }
        }

        p {
          color: gray;
          margin: 0;
          @media (max-width: 576px) {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}

footer {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: $color1;
  color: white;

  .footer-top {
    .mail {
      padding-left: 3rem;

      @media (max-width: 768px) {
        margin-top: 3rem;
        padding-right: 3rem;
      }
      h4 {
        margin-bottom: 1rem;
        text-transform: uppercase;
      }

      .form-group {
        position: relative;

        a {
          color: $color1;
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translate(0, -50%);
          font-size: 1.2rem;
          font-weight: 600;
          transition: all 0.5s;

          &:hover {
            color: #05304d;
          }
        }
        input.form-control {
          border-radius: 0;
          height: 3rem;
          border: none;
          &::placeholder {
            font-size: 1.2rem;
          }
        }
      }

      .social {
        margin-top: 1rem;

        a {
          height: 3.5rem;
          width: 3.5rem;
          border-radius: 100%;
          background-color: #003ca6;
          font-size: 1.3rem;
          margin: 0.5rem;
          transition: all 0.3s;
          color: white;

          @media (max-width: 576px) {
            height: 3rem;
            width: 3rem;
            font-size: 1rem;
          }

          &:hover {
            background-color: $color2;
            color: white;
          }
        }
      }
    }

    .links {
      align-items: flex-start;

      @media (max-width: 576px) {
        flex-wrap: wrap;
      }

      & > div {
        @media (max-width: 576px) {
          width: 50%;
          text-align: left;
        }
      }

      .head {
        h4 {
          margin-bottom: 1.5rem;
          text-transform: uppercase;

          @media (max-width: 1200px) {
            margin-bottom: 1rem;
          }
        }
      }

      li {
        margin-bottom: 0.5rem;
        @media (max-width: 1200px) {
          margin-bottom: 0.3rem;
        }
        a {
          font-size: 1.1rem;
          color: #e0dfdf;
          transition: all 0.3s;
          &:hover {
            color: #ba8c3e;
          }
        }
      }

      .down {
        display: none;
      }

      .dropdown2 {
        text-align: left;
        @media (max-width: 576px) {
          position: relative;
          cursor: pointer;
          display: inline-block;

          .head {
            h4 {
              @media (max-width: 576px) {
                font-size: 1.3rem;
                font-weight: 600;
                margin-top: 1rem;
              }
            }
          }

          .down {
            display: inline-block;
          }

          a {
            color: black;

            &:hover {
              color: $color2;
            }
          }

          .dropdown-content {
            position: relative;
            background-color: transparent;
            min-width: auto;
            left: 0;
            box-shadow: none;
            padding: 0;
            z-index: -1;
            opacity: 0;
            height: 0;
            transition: all 0.5s;

            li {
              margin-bottom: 0;
            }

            a {
              color: white;
            }
          }
        }
      }

      .active {
        @media (max-width: 576px) {
          z-index: 15 !important;
          opacity: 1 !important;
          height: auto !important;

          li {
            margin-bottom: 0.5rem !important;
          }
        }
      }
    }
  }

  .footer-bottom {
    margin-top: 5rem;

    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 3rem;
    }

    p {
      font-size: 1rem;
      color: #e9ecf8;
      margin-right: auto;

      @media (max-width: 768px) {
        margin: 3rem 0;
      }
    }

    .payment {
      img {
        opacity: 0.7;
        filter: grayscale(1);
        margin: 1rem;
        margin-top: 0;
        @media (max-width: 992px) {
          width: 10%;
        }
      }
    }
  }
}

// sec-nav

#sec-nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: all 0.5s;
  background-color: transparent;

  .sec-head {
    display: flex;
    padding: 2rem 1rem;
    border-bottom: 1px solid gray;

    #close-btn {
      cursor: pointer;
    }
  }

  #sec-items {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    opacity: 0;
    transition: all 0.7s;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 11;
    font-size: 1.5rem;
    color: black;
    overflow-x: hidden;
    padding-right: 1rem;

    ul {
      display: flex;
      flex-direction: column-reverse;
    }

    li {
      text-align: left;
      margin: 0.5rem 1rem;

      a {
        color: black;
      }

      .menu {
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all 0.5s;
      }

      .active {
        height: 100%;
        opacity: 1;
        margin-top: 15px;
      }
    }

    p {
      span {
        color: $color2;
      }
    }

    .drop {
      cursor: pointer;
      transition: all 0.5s;

      &:hover {
        color: $color2;
      }
    }
  }

  #sec-items.show {
    width: 250px !important;
    height: 100vh !important;
    opacity: 1 !important;
  }

  #sec-search {
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    background-color: rgba(29, 29, 29, 0.95);
    z-index: -3;
    opacity: 0;
    transition: all 0.5s;

    form {
      width: 70%;
      flex-direction: column-reverse;

      .form-group {
        width: 100%;
        height: 100%;
        position: relative;
        flex-direction: column-reverse;
        height: fit-content;
      }

      input {
        width: 100%;
        height: 3rem;
        border-radius: 20px;
        text-align: left;
        padding: 0.5rem;
      }

      a {
        color: rgb(14, 13, 13);
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
        font-size: 1.2rem;
        font-weight: 600;
        transition: all 0.5s;

        @media (max-width: 500px) {
          right: 10px;
        }

        &:hover {
          color: $color2;
        }
      }
      select {
        width: 100%;
        height: 3rem;
        background-color: #f5f5f5;
        border-radius: 20px;
        border-color: #e0e0e0;
        outline: none;
        position: relative;
        background-image: url(../img/icons/arrow-dark.png);
        background-repeat: no-repeat;
        -webkit-appearance: none;
        background-position: right center;
        margin-bottom: 2rem;
        padding: 0 10px;

        &::after,
        &::before {
          display: none;
        }

        .default {
          color: black !important;
        }

        &:focus {
          background-color: #f5f5f5;
          border-color: #e0e0e0;
          outline: none;
        }

        option {
          background-color: #f5f5f5;
          border-color: #e0e0e0;
          text-align: left;
        }
      }

      .close-search {
        font-size: 20px;
        font-weight: 700;
        color: white;
        background-color: #ffffff42;
        margin-bottom: 5rem;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        cursor: pointer;
      }
    }
  }

  .search-active {
    z-index: 16 !important;
    opacity: 1 !important;
    height: 100vh !important;
    width: 100% !important;
  }
}

.sec-nav-active {
  z-index: 15 !important;
  opacity: 1 !important;
  background-color: #000000d9 !important;
}
