*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
}

*:focus {
  outline: none !important;
}

a {
  color: white;
}

a:hover {
  color: #ff711f;
  text-decoration: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

.container {
  position: relative;
  padding: 0;
}

@media (min-width: 767px) {
  .container {
    max-width: 850px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1275px;
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 1600px;
  }
}

.row {
  padding: 0;
  width: 100%;
  margin: 0;
}

.col-md-6,
.col-md-5,
.col-md-4,
.col-md-3,
.col-md-2,
.col-md-1 {
  padding: 0;
}

@media (max-width: 576px) {
  .btn {
    padding: 0.3rem 1.2rem;
    font-size: 0.8rem;
  }
}

body,
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
  min-height: 100vh;
  background-color: white;
}

@media (max-width: 1500px) {
  body,
  html {
    font-size: 13px;
  }
}

@media (max-width: 1300px) {
  body,
  html {
    font-size: 10px;
  }
}

@media (max-width: 767px) {
  body,
  html {
    font-size: 9px;
    text-align: center;
  }
}

@media (max-width: 576px) {
  body,
  html {
    font-size: 12px;
  }
}

.s-container {
  width: 100%;
  overflow: hidden;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.s-container .swiper-button-prev,
.s-container .swiper-button-next {
  color: #b3b3b3;
  font-weight: 800;
}

.s-container .swiper-button-prev:after,
.s-container .swiper-button-next:after {
  font-size: 1rem;
}

.s-container .swiper-button-prev {
  left: -3rem;
}

@media (max-width: 576px) {
  .s-container .swiper-button-prev {
    left: -1rem;
  }
}

.s-container .swiper-button-next {
  right: -3rem;
}

@media (max-width: 576px) {
  .s-container .swiper-button-next {
    right: -1rem;
  }
}

.s-container .swiper-slide .product-img {
  text-align: center;
  margin-bottom: 1rem;
}

.s-container .swiper-slide .product-img img {
  width: 70%;
  height: 220px;
}

.s-container .swiper-slide .product-img .ico {
  width: fit-content;
  position: absolute;
  top: 0.5rem;
  padding: 0.3rem 1rem;
  border-radius: 0;
  color: white;
  font-size: 1rem;
}

@media (max-width: 576px) {
  .s-container .swiper-slide .product-img .ico {
    padding: 0.3rem 2rem;
    font-size: 1.2rem;
  }
}

.s-container .swiper-slide .product-img .ico-sale {
  background-color: #ff711f;
  left: 0.5rem;
}

.s-container .swiper-slide .product-img .ico-new {
  background-color: #0046c3;
  right: 0.5rem;
}

.s-container .swiper-slide .product-disc h5 {
  font-size: 20px;
  text-align: left;
  margin-top: 4rem;
}

@media (max-width: 576px) {
  .s-container .swiper-slide .product-disc h5 {
    text-align: center;
  }
}

.s-container .swiper-slide .product-disc h5 a {
  color: black;
}

.s-container .swiper-slide .product-disc .price {
  margin-top: 1rem;
  color: #ff711f;
  font-weight: 700;
  font-size: 18px;
  justify-content: flex-start;
  text-transform: uppercase;
}

@media (max-width: 576px) {
  .s-container .swiper-slide .product-disc .price {
    justify-content: center;
  }
}

.s-container .swiper-slide .product-disc .price .price-sale {
  color: gray;
  margin-left: 1rem;
  font-size: 14px;
  font-weight: 500;
  text-transform: unset;
  text-decoration: line-through;
}

.dropdown {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding-bottom: 5px;
}

.dropdown a {
  color: black;
}

.dropdown a:hover {
  color: #ff711f;
}

.dropdown .dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  width: max-content;
  top: 102%;
  right: 50%;
  transform: translateX(50%);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 25px;
  z-index: -1;
  opacity: 0;
  transition: all 0.5s;
}

.dropdown .dropdown-content:before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-width: 6px;
  border-color: transparent transparent #ffffff;
  border-style: solid;
  top: -12px;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}

.dropdown:hover .dropdown-content {
  z-index: 15;
  opacity: 1;
}

header {
  background-color: #0046c3;
}

header .header-logo {
  padding-top: 1rem;
}

header .header-logo .logo {
  justify-content: flex-start;
}

header .header-logo .logo img {
  max-width: 100%;
}

@media (max-width: 992px) {
  header .header-logo .logo {
    margin-bottom: 1rem;
  }
}

header .header-logo .search {
  flex: 0 0 44%;
  margin-top: 1rem;
}

@media (max-width: 992px) {
  header .header-logo .search {
    display: none;
  }
}

@media (max-width: 500px) {
  header .header-logo .search {
    max-width: 100%;
  }
}

header .header-logo .search form {
  width: 100%;
  height: 100%;
}

@media (max-width: 500px) {
  header .header-logo .search form {
    padding: 0;
  }
}

header .header-logo .search form .form-group {
  width: 100%;
  height: 100%;
  position: relative;
}

header .header-logo .search form input {
  width: 70%;
  height: 2.5rem;
  border: none;
  border-radius: 0;
  text-align: left;
  padding: 0.5rem;
}

@media (max-width: 768px) {
  header .header-logo .search form input {
    width: 50%;
  }
}

header .header-logo .search form a {
  color: #0046c3;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.5s;
}

header .header-logo .search form a:hover {
  color: black;
}

header .header-logo .search form select {
  width: 30%;
  height: 2.5rem;
  background-color: #ff711f;
  border-color: #ff711f;
  text-align: left;
  outline: none;
  position: relative;
  background-image: url(../img/icons/arrow.png);
  background-repeat: no-repeat;
  -webkit-appearance: none;
  background-position: 7rem center;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding-left: 1rem;
}

@media (max-width: 1200px) {
  header .header-logo .search form select {
    padding-left: 0rem;
    background-position: 7rem center;
  }
}

@media (max-width: 768px) {
  header .header-logo .search form select {
    width: 50%;
    padding-left: 1rem;
  }
}

header .header-logo .search form select::after, header .header-logo .search form select::before {
  display: none;
}

header .header-logo .search form select .default {
  color: black !important;
}

header .header-logo .search form select:focus {
  background-color: #ff711f;
  border-color: #e0e0e0;
  outline: none;
  border: none;
}

header .header-logo .search form select option {
  background-color: #0046c3;
  border-color: #0046c3;
  text-align: right;
}

header .header-logo .cart-small {
  font-size: 18px;
  color: white;
  display: none;
  justify-content: flex-end;
}

@media (max-width: 992px) {
  header .header-logo .cart-small {
    display: flex;
  }
}

header .header-logo .cart-small div {
  margin-left: 2rem;
  cursor: pointer;
}

header .header-logo .sign {
  margin-top: 1rem;
  justify-content: flex-end;
}

@media (max-width: 992px) {
  header .header-logo .sign {
    display: none;
  }
}

header .header-logo .sign .prefix {
  display: flex;
}

header .header-logo .sign .prefix .dropdown {
  border: none;
  color: white;
  position: relative;
  margin-right: 15px;
}

header .header-logo .sign .prefix .dropdown:focus {
  outline: none;
}

header .header-logo .sign .icons .icon {
  margin: 0 1rem;
}

header .header-logo .sign .icons .icon a {
  font-size: 1.5rem;
  transition: all 0.5s;
}

header .header-nav {
  margin-top: 2rem;
  background-color: #003faf;
}

@media (max-width: 992px) {
  header .header-nav {
    display: none;
  }
}

header .header-nav .call {
  font-weight: 400;
  font-size: 1.1rem;
  justify-content: flex-end;
}

header .header-nav .call p {
  color: white;
  text-transform: uppercase;
  margin: 0;
}

@media (max-width: 768px) {
  header .header-nav .call p {
    padding-bottom: 1rem;
  }
}

header .header-nav .call span {
  color: #ff711f;
}

header .header-nav .navbar {
  justify-content: flex-start;
  padding: 0;
}

@media (max-width: 992px) {
  header .header-nav .navbar {
    margin: auto;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 992px) {
  header .header-nav .navbar .navbar-collapse {
    display: block;
    text-align: center;
    height: 0;
    opacity: 0;
    transition: all 0.5s;
  }
}

header .header-nav .navbar .active {
  margin-top: 2rem;
  height: 120px;
  opacity: 1;
}

header .header-nav .navbar .navbar-nav .nav-item {
  margin: 0rem 1rem;
}

header .header-nav .navbar .navbar-nav a {
  color: white;
  transition: all 0.5s;
}

header .header-nav .navbar .navbar-nav a:hover {
  color: #ff711f;
}

@media (max-width: 1200px) {
  header .header-nav .navbar .navbar-nav a {
    font-size: 0.8rem;
  }
}

header .header-nav .categories {
  padding: 0.5rem 0;
  background-color: #00399d;
  position: relative;
  display: flex;
  align-items: baseline;
}

@media (max-width: 768px) {
  header .header-nav .categories {
    justify-content: center;
    margin-bottom: 1rem;
  }
}

header .header-nav .categories div {
  border: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

header .header-nav .categories div:focus {
  outline: none;
}

header .header-nav .categories .dropdown {
  width: 100%;
  text-align: center;
}

header .row {
  width: 88%;
  margin: auto;
}

@media (min-width: 768px) {
  header .col-md-3 {
    flex: 0 0 28%;
    max-width: 28%;
  }
}

main #slider-banner * {
  font-family: "Montserrat", sans-serif;
}

main #slider-banner .swiper-container {
  width: 100%;
  height: 700px;
}

@media (max-width: 576px) {
  main #slider-banner .swiper-container {
    max-height: 300px;
  }
}

main #slider-banner .swiper-container .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 0;
  background: white;
  opacity: 1;
  margin: 0 10px;
  margin-bottom: 50px;
}

@media (max-width: 576px) {
  main #slider-banner .swiper-container .swiper-pagination-bullet {
    margin-bottom: 0px;
    width: 7px;
    height: 7px;
  }
}

main #slider-banner .swiper-container .swiper-pagination-bullet-active {
  background-color: #ff711f;
}

main #slider-banner .swiper-container .swiper-button-prev,
main #slider-banner .swiper-container .swiper-button-next {
  color: #e3f3fd;
  background-color: #0000008a;
  padding: 1.5rem;
  transition: all 0.3s ease-in;
  top: 50% !important;
}

main #slider-banner .swiper-container .swiper-button-prev:hover,
main #slider-banner .swiper-container .swiper-button-next:hover {
  background-color: white;
  color: #0046c3;
}

main #slider-banner .swiper-container .swiper-button-prev:focus,
main #slider-banner .swiper-container .swiper-button-next:focus {
  outline: none;
  border: none;
}

main #slider-banner .swiper-container .swiper-button-prev:after,
main #slider-banner .swiper-container .swiper-button-next:after {
  font-size: 1rem;
}

main #slider-banner .swiper-container .swiper-button-prev {
  left: 25px;
}

@media (max-width: 576px) {
  main #slider-banner .swiper-container .swiper-button-prev {
    left: 0px;
  }
}

main #slider-banner .swiper-container .swiper-button-next {
  right: 25px;
}

@media (max-width: 576px) {
  main #slider-banner .swiper-container .swiper-button-next {
    right: 0px;
  }
}

main #slider-banner .swiper-container .swiper-slide {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/header/Layer 1@1X.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  justify-content: center;
  align-items: center;
}

main #slider-banner .swiper-container .swiper-slide .banner-text {
  color: white;
  text-transform: uppercase;
}

main #slider-banner .swiper-container .swiper-slide .banner-text h4 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  main #slider-banner .swiper-container .swiper-slide .banner-text h4 {
    font-size: 25px;
  }
}

@media (max-width: 576px) {
  main #slider-banner .swiper-container .swiper-slide .banner-text h4 {
    font-size: 15px;
  }
}

main #slider-banner .swiper-container .swiper-slide .banner-text h2 {
  font-size: 65px;
  font-weight: 700;
  width: 55%;
  margin: auto;
}

@media (max-width: 1200px) {
  main #slider-banner .swiper-container .swiper-slide .banner-text h2 {
    width: 88%;
  }
}

@media (max-width: 768px) {
  main #slider-banner .swiper-container .swiper-slide .banner-text h2 {
    width: 100%;
    font-size: 50px;
  }
}

@media (max-width: 576px) {
  main #slider-banner .swiper-container .swiper-slide .banner-text h2 {
    font-size: 25px;
  }
}

main #slider-banner .swiper-container .swiper-slide .banner-text .btn {
  color: wheat;
  background-color: #ff711f;
  padding: 0.4rem 1.5rem;
  margin-top: 1rem;
  border-radius: 0;
}

main #slider-banner .swiper-container .swiper-slide .banner-text .btn:hover {
  background-color: #e65400;
}

main #banners .categories-slider {
  position: relative;
  width: 90%;
  margin: auto;
}

main #banners .categories-slider .swiper-slide {
  flex-direction: column;
}

main #banners .categories-slider .swiper-slide .slider-img {
  width: 100%;
  height: 101px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

main #banners .categories-slider .swiper-slide .slider-img img {
  filter: brightness(0);
  transition: all 0.5s;
}

main #banners .categories-slider .swiper-slide a {
  color: black;
  text-align: center;
}

main #banners .categories-slider .swiper-slide .slider-head p {
  font-weight: 800;
  margin-bottom: 0;
  margin-top: 15px;
  text-transform: capitalize;
  transition: all 0.5s;
}

main #banners .categories-slider .swiper-slide:hover p {
  color: #ff711f;
}

main #banners .categories-slider .swiper-slide:hover img {
  filter: brightness(1);
}

main #banners .banners * {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

main #banners .banners .row {
  justify-content: space-between;
  width: 88%;
  margin: auto;
}

main #banners .banners .banner {
  height: 330px;
  color: white;
}

@media (max-width: 768px) {
  main #banners .banners .banner {
    width: 98% !important;
    margin: auto;
    margin-bottom: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  main #banners .banners .banner {
    height: 175px;
  }
}

main #banners .banners .banner .btn {
  color: wheat;
  background-color: #ff711f;
  padding: 0.4rem 1.5rem;
  margin-top: 1rem;
  border-radius: 0;
}

main #banners .banners .banner .btn:hover {
  background-color: #e65400;
}

main #banners .banners .first .banner {
  width: 49%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 4rem;
  padding-top: 9rem;
}

@media (max-width: 576px) {
  main #banners .banners .first .banner {
    padding-top: 2rem;
  }
}

main #banners .banners .first .banner h3 {
  font-size: 2.1rem;
  font-weight: 600;
  width: 75%;
}

@media (max-width: 768px) {
  main #banners .banners .first .banner h3 {
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

@media (max-width: 576px) {
  main #banners .banners .first .banner h3 {
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}

main #banners .banners .first .banner:nth-child(1) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../img/banners/Layer 97@1X.png");
}

main #banners .banners .first .banner:nth-child(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../img/banners/Layer 98@1X.png");
}

main #banners .banners .second {
  margin-top: 2rem;
}

main #banners .banners .second .banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 11rem;
}

@media (max-width: 576px) {
  main #banners .banners .second .banner {
    padding-top: 2rem;
  }
}

main #banners .banners .second .banner h3 {
  font-size: 1.5rem;
  font-weight: 600;
  width: 75%;
  margin: auto;
  text-align: center;
}

@media (max-width: 768px) {
  main #banners .banners .second .banner h3 {
    font-size: 2.5rem;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

@media (max-width: 500px) {
  main #banners .banners .second .banner h3 {
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 0rem;
  }
}

main #banners .banners .second .banner:nth-child(1) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../img/banners/Layer 96@1X.png");
  width: 25%;
}

main #banners .banners .second .banner:nth-child(2) {
  background-image: linear-gradient(rgba(0, 70, 195, 0.5), rgba(0, 70, 195, 0.5)), url("../img/banners/Layer 99@1X.png");
  width: 48%;
  padding-top: 4rem;
}

@media (max-width: 576px) {
  main #banners .banners .second .banner:nth-child(2) {
    padding-top: 2rem;
  }
}

main #banners .banners .second .banner:nth-child(2) h3 {
  font-size: 3rem;
}

@media (max-width: 576px) {
  main #banners .banners .second .banner:nth-child(2) h3 {
    font-size: 2.3rem;
  }
}

main #banners .banners .second .banner:nth-child(2) h3 span {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.875rem;
  font-weight: 300;
}

@media (max-width: 576px) {
  main #banners .banners .second .banner:nth-child(2) h3 span {
    margin-bottom: 0;
  }
}

main #banners .banners .second .banner:nth-child(3) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../img/banners/Layer 95@1X.png");
  width: 25%;
}

main #best-seller {
  margin-top: 7rem;
}

main #best-seller .container > .row {
  width: 88%;
  margin: auto;
}

main #best-seller .best-seller-head h2 {
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
}

main #best-seller .best-seller-slider {
  position: relative;
}

main #best-seller .best-seller-banner {
  background-image: linear-gradient(rgba(0, 70, 195, 0), rgba(0, 70, 195, 0.2)), url("../img/bestseller/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  color: white;
  align-items: center;
  padding-left: 15rem;
}

main #best-seller .best-seller-banner * {
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 1200px) {
  main #best-seller .best-seller-banner {
    height: 400px;
  }
}

@media (max-width: 768px) {
  main #best-seller .best-seller-banner {
    height: 300px;
    padding-left: 5rem;
    background-size: 165%;
  }
}

@media (max-width: 500px) {
  main #best-seller .best-seller-banner {
    padding-left: 2rem;
    background-size: 200%;
    height: 170px;
  }
}

@media (max-width: 300px) {
  main #best-seller .best-seller-banner {
    background-size: auto;
    display: flex;
    justify-content: center;
    padding: 0;
  }
}

main #best-seller .best-seller-banner .content {
  text-align: center;
}

main #best-seller .best-seller-banner .content h2 {
  font-size: 3.4rem;
  font-weight: 800;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  main #best-seller .best-seller-banner .content h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 576px) {
  main #best-seller .best-seller-banner .content h2 {
    font-size: 1.8rem;
  }
}

main #best-seller .best-seller-banner .content h2 span {
  font-weight: 300;
  display: block;
  position: relative;
  margin-bottom: 2.5rem;
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  main #best-seller .best-seller-banner .content h2 span {
    font-size: 1.8rem;
  }
}

@media (max-width: 500px) {
  main #best-seller .best-seller-banner .content h2 span {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
}

main #best-seller .best-seller-banner .content h2 span::after {
  content: "";
  height: 0.15rem;
  width: 2rem;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translate(-50%, 0);
}

@media (max-width: 576px) {
  main #best-seller .best-seller-banner .content h2 span::after {
    bottom: -0.5rem;
  }
}

main #best-seller .best-seller-banner .content .btn {
  color: wheat;
  background-color: #ff711f;
  padding: 0.5rem 1.7rem;
  margin-top: 1rem;
  border-radius: 0;
}

main #best-seller .best-seller-banner .content .btn:hover {
  background-color: #e65400;
}

main #categories {
  margin-top: 7rem;
}

main #categories .container > .row {
  max-width: 88%;
  margin: auto;
}

main #categories .categories-head {
  width: max-content;
  overflow-x: auto;
}

main #categories .categories-head div {
  font-size: 2.1875rem;
  font-weight: 600;
  color: black;
  margin: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s;
}

main #categories .categories-head div:hover {
  color: #ff711f;
}

@media (max-width: 576px) {
  main #categories .categories-head div {
    font-size: 1.8rem;
  }
}

main #categories .categories-head .active {
  border-bottom: 1px solid #ff711f;
  color: #ff711f;
}

main #categories .categories-body {
  position: relative;
}

main #categories .categories-body > div {
  opacity: 0;
  height: 0 !important;
  margin: 0;
  transition: all 1s;
}

main #categories .categories-body .active {
  display: flex;
  opacity: 1;
  height: auto !important;
  margin: 5rem 0;
}

main #notes {
  margin-top: 5rem;
  padding: 5rem 0;
  background-color: #fafafa;
}

@media (max-width: 576px) {
  main #notes {
    margin-top: 3rem;
    padding: 3rem 0;
  }
}

main #notes .row {
  width: 88%;
  margin: auto;
  justify-content: space-between;
}

@media (min-width: 768px) {
  main #notes .col-md-3 {
    flex: 0 0 23%;
    max-width: 23%;
  }
}

main #notes .note {
  display: flex;
}

@media (max-width: 768px) {
  main #notes .note {
    margin: 5rem 2rem;
  }
}

@media (max-width: 576px) {
  main #notes .note {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

main #notes .note .note-img {
  margin-right: 1.5rem;
}

main #notes .note .note-img img {
  max-width: 100%;
}

@media (max-width: 768px) {
  main #notes .note .note-img img {
    width: 50%;
  }
}

@media (max-width: 576px) {
  main #notes .note .note-img img {
    width: 100%;
    margin-bottom: 2rem;
  }
}

@media (max-width: 576px) {
  main #notes .note .note-img {
    margin-right: 0;
  }
}

main #notes .note .note-body h3 {
  font-weight: 600;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 1.3rem;
}

@media (max-width: 576px) {
  main #notes .note .note-body h3 {
    font-size: 1.7rem;
  }
}

main #notes .note .note-body p {
  color: gray;
  margin: 0;
}

@media (max-width: 576px) {
  main #notes .note .note-body p {
    font-size: 1.3rem;
  }
}

footer {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #0046c3;
  color: white;
}

footer .footer-top .mail {
  padding-left: 3rem;
}

@media (max-width: 768px) {
  footer .footer-top .mail {
    margin-top: 3rem;
    padding-right: 3rem;
  }
}

footer .footer-top .mail h4 {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

footer .footer-top .mail .form-group {
  position: relative;
}

footer .footer-top .mail .form-group a {
  color: #0046c3;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.5s;
}

footer .footer-top .mail .form-group a:hover {
  color: #05304d;
}

footer .footer-top .mail .form-group input.form-control {
  border-radius: 0;
  height: 3rem;
  border: none;
}

footer .footer-top .mail .form-group input.form-control::placeholder {
  font-size: 1.2rem;
}

footer .footer-top .mail .social {
  margin-top: 1rem;
}

footer .footer-top .mail .social a {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 100%;
  background-color: #003ca6;
  font-size: 1.3rem;
  margin: 0.5rem;
  transition: all 0.3s;
  color: white;
}

@media (max-width: 576px) {
  footer .footer-top .mail .social a {
    height: 3rem;
    width: 3rem;
    font-size: 1rem;
  }
}

footer .footer-top .mail .social a:hover {
  background-color: #ff711f;
  color: white;
}

footer .footer-top .links {
  align-items: flex-start;
}

@media (max-width: 576px) {
  footer .footer-top .links {
    flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  footer .footer-top .links > div {
    width: 50%;
    text-align: left;
  }
}

footer .footer-top .links .head h4 {
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  footer .footer-top .links .head h4 {
    margin-bottom: 1rem;
  }
}

footer .footer-top .links li {
  margin-bottom: 0.5rem;
}

@media (max-width: 1200px) {
  footer .footer-top .links li {
    margin-bottom: 0.3rem;
  }
}

footer .footer-top .links li a {
  font-size: 1.1rem;
  color: #e0dfdf;
  transition: all 0.3s;
}

footer .footer-top .links li a:hover {
  color: #ba8c3e;
}

footer .footer-top .links .down {
  display: none;
}

footer .footer-top .links .dropdown2 {
  text-align: left;
}

@media (max-width: 576px) {
  footer .footer-top .links .dropdown2 {
    position: relative;
    cursor: pointer;
    display: inline-block;
  }
}

@media (max-width: 576px) and (max-width: 576px) {
  footer .footer-top .links .dropdown2 .head h4 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 1rem;
  }
}

@media (max-width: 576px) {
  footer .footer-top .links .dropdown2 .down {
    display: inline-block;
  }
  footer .footer-top .links .dropdown2 a {
    color: black;
  }
  footer .footer-top .links .dropdown2 a:hover {
    color: #ff711f;
  }
  footer .footer-top .links .dropdown2 .dropdown-content {
    position: relative;
    background-color: transparent;
    min-width: auto;
    left: 0;
    box-shadow: none;
    padding: 0;
    z-index: -1;
    opacity: 0;
    height: 0;
    transition: all 0.5s;
  }
  footer .footer-top .links .dropdown2 .dropdown-content li {
    margin-bottom: 0;
  }
  footer .footer-top .links .dropdown2 .dropdown-content a {
    color: white;
  }
}

@media (max-width: 576px) {
  footer .footer-top .links .active {
    z-index: 15 !important;
    opacity: 1 !important;
    height: auto !important;
  }
  footer .footer-top .links .active li {
    margin-bottom: 0.5rem !important;
  }
}

footer .footer-bottom {
  margin-top: 5rem;
}

@media (max-width: 768px) {
  footer .footer-bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
}

footer .footer-bottom p {
  font-size: 1rem;
  color: #e9ecf8;
  margin-right: auto;
}

@media (max-width: 768px) {
  footer .footer-bottom p {
    margin: 3rem 0;
  }
}

footer .footer-bottom .payment img {
  opacity: 0.7;
  filter: grayscale(1);
  margin: 1rem;
  margin-top: 0;
}

@media (max-width: 992px) {
  footer .footer-bottom .payment img {
    width: 10%;
  }
}

#sec-nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: all 0.5s;
  background-color: transparent;
}

#sec-nav .sec-head {
  display: flex;
  padding: 2rem 1rem;
  border-bottom: 1px solid gray;
}

#sec-nav .sec-head #close-btn {
  cursor: pointer;
}

#sec-nav #sec-items {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  opacity: 0;
  transition: all 0.7s;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 11;
  font-size: 1.5rem;
  color: black;
  overflow-x: hidden;
  padding-right: 1rem;
}

#sec-nav #sec-items ul {
  display: flex;
  flex-direction: column-reverse;
}

#sec-nav #sec-items li {
  text-align: left;
  margin: 0.5rem 1rem;
}

#sec-nav #sec-items li a {
  color: black;
}

#sec-nav #sec-items li .menu {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
}

#sec-nav #sec-items li .active {
  height: 100%;
  opacity: 1;
  margin-top: 15px;
}

#sec-nav #sec-items p span {
  color: #ff711f;
}

#sec-nav #sec-items .drop {
  cursor: pointer;
  transition: all 0.5s;
}

#sec-nav #sec-items .drop:hover {
  color: #ff711f;
}

#sec-nav #sec-items.show {
  width: 250px !important;
  height: 100vh !important;
  opacity: 1 !important;
}

#sec-nav #sec-search {
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  background-color: rgba(29, 29, 29, 0.95);
  z-index: -3;
  opacity: 0;
  transition: all 0.5s;
}

#sec-nav #sec-search form {
  width: 70%;
  flex-direction: column-reverse;
}

#sec-nav #sec-search form .form-group {
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column-reverse;
  height: fit-content;
}

#sec-nav #sec-search form input {
  width: 100%;
  height: 3rem;
  border-radius: 20px;
  text-align: left;
  padding: 0.5rem;
}

#sec-nav #sec-search form a {
  color: #0e0d0d;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.5s;
}

@media (max-width: 500px) {
  #sec-nav #sec-search form a {
    right: 10px;
  }
}

#sec-nav #sec-search form a:hover {
  color: #ff711f;
}

#sec-nav #sec-search form select {
  width: 100%;
  height: 3rem;
  background-color: #f5f5f5;
  border-radius: 20px;
  border-color: #e0e0e0;
  outline: none;
  position: relative;
  background-image: url(../img/icons/arrow-dark.png);
  background-repeat: no-repeat;
  -webkit-appearance: none;
  background-position: right center;
  margin-bottom: 2rem;
  padding: 0 10px;
}

#sec-nav #sec-search form select::after, #sec-nav #sec-search form select::before {
  display: none;
}

#sec-nav #sec-search form select .default {
  color: black !important;
}

#sec-nav #sec-search form select:focus {
  background-color: #f5f5f5;
  border-color: #e0e0e0;
  outline: none;
}

#sec-nav #sec-search form select option {
  background-color: #f5f5f5;
  border-color: #e0e0e0;
  text-align: left;
}

#sec-nav #sec-search form .close-search {
  font-size: 20px;
  font-weight: 700;
  color: white;
  background-color: #ffffff42;
  margin-bottom: 5rem;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  cursor: pointer;
}

#sec-nav .search-active {
  z-index: 16 !important;
  opacity: 1 !important;
  height: 100vh !important;
  width: 100% !important;
}

.sec-nav-active {
  z-index: 15 !important;
  opacity: 1 !important;
  background-color: #000000d9 !important;
}
/*# sourceMappingURL=main.css.map */